---
---

$c-primary_bg:    {{site.data.styles.primary.background}};
$c-primary_c:     {{site.data.styles.primary.text}};
$c-secondary_bg:  {{site.data.styles.secondary.background}};
$c-secondary_c:   {{site.data.styles.secondary.text}};
$c-background:    {{site.data.styles.background}};
$c-text:          {{site.data.styles.text}};

@import 'main';